header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-right: 10px;
  background-color: #f8f8f8;
}

.logo {
  width: 250px;
  border: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover,
nav a.active {
  color: blue;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
